<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>新着メッセージ</h2>
    <hr>
    <% @messages.each do |message| %>
      <%= link_to shop_message_path(message.room_id, anchor: 'messages-top') do %>
        <div class="d-flex flex-row my-3">
          <div class="col-1">
            <% if message.room.is_take_care %>
              <span class="text-success">
                対応済み
              </span>
            <% else %>
              <span class="text-danger">
                対応待ち
              </span>
            <% end %>
          </div>
          <div class="col-11 d-flex flex-row flex-wrap p-3 <%= (message.is_a?(ShopMessage) ? "my-message" : "" ) %> <%= (message.is_a?(MemberMessage) ? "other-message" : "" ) %>">
            <div class="col-9">
              <% if message.is_a?(MemberMessage) %>
                <%= message.member.member_full_name %> 様 [ <%= message.member.id %> ]
              <% elsif message.is_a?(ShopMessage) %>
                <%= message.room.member.member_full_name %> 様 [ <%= message.room.member.id %> ]
              <% end %>
              <p class="pt-1"><%= message.message %></p>
            </div>
            <div class="col-3">
              <small class="text-secondary"><%= message.created_at.strftime("%Y年%m月%d %H:%M:%S") %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>