<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>
      <% if shop_signed_in? %>
        <%= @room.member.member_full_name %> 様とのメッセージ
      <% else %>
        <%= @room.shop.name %> さんとのメッセージ
      <% end %>
    </h2>
    <hr>
    <% if shop_signed_in? %>
      <%= form_with model: @room, url: shop_message_path do |f| %>
        <div class="d-flex justify-content-center bg-light p-3 mt-3 mb-3">
          <div class="d-flex flex-row flex-wrap me-3">
            <div class="pe-2">
              <%= f.radio_button :is_take_care, true, class: "form-check-input" %><%= f.label :is_take_care_true, "対応済み", class: "form-check-label text-success fw-bold ps-2" %>
            </div>
            <div class="pe-2">
              <%= f.radio_button :is_take_care, false, class: "form-check-input" %><%= f.label :is_take_care_false, "対応待ち", class: "form-check-label text-danger fw-bold ps-2" %>
            </div>
          </div>
          <div>
            <%= f.submit "変更する", class: "btn btn-info p-2" %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="col-12">
      <!--メッセージ-->
      <div class= "py-2">
        <% @messages.each do |message| %>
          <div class="bg-light p-2">
            <div class="p-3 <%= (message.is_a?(ShopMessage) ? "my-message" : "" ) %> <%= (message.is_a?(MemberMessage) ? "other-message" : "" ) %>">
              <% unless message.is_a?(ShopMessage) %>
                <span class="px-1 py-0">
                  <%= link_to shop_member_path(message.member) do %>
                    <%= message.member.member_full_name %> 様
                  <% end %>
                </span>
              <% end %>
              <p class="pt-1">
                <%= message.message %>
              </p>
              <small class="text-body-tertiary">(<%= message.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>)</small>
              <% unless message.is_a?(MemberMessage) %>
                <%= link_to "削除", shop_message_path(message), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!--送信フォーム-->
      <div class= "py-2">
        <%= form_with model: @message, url: shop_messages_path do |f| %>
          <%= f.text_area :message, class: "form-control" %>
          <div class= "py-2 text-end">
            <%= f.submit "送信", class: "btn btn-info" %>
          </div>
          <%= f.hidden_field :room_id %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>