<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2><%= @member.member_full_name %>様とのメッセージ</h2>
    <hr>
    <%= render 'public/messages/form', messages: @messages, message: @message, url: shop_messages_path %>

    <%= link_to "◀ お客様詳細へ戻る", shop_member_path(@member) %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>