<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>
      <% if shop_signed_in? %>
        <%= @room.member.member_full_name %> 様とのメッセージ
      <% else %>
        <%= @room.shop.name %> さんとのメッセージ
      <% end %>
    </h2>
    <hr>
    <%= render 'shop/messages/form', messages: @messages, message: @message, url: shop_messages_path %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>