<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <!--予約一覧-->
    <div class="mb-5">
      <h2>予約一覧</h2>
      <hr>
      <%= render 'shop/pre_orders/index', pre_orders: @pre_orders_3 %>
      <%= link_to '全ての予約を見る', shop_pre_orders_path, class: "float-end" %>
    </div>
    <!--商品一覧-->
    <div class="mb-5">
      <h2>商品一覧</h2>
      <hr>
      <%= render 'shop/items/index', items: @shop_items_3 %>
      <%= link_to '全ての商品を見る', shop_items_path, class: "float-end" %>
    </div>
    <!--口コミ一覧-->
    <div class="mb-5">
      <h2>口コミ一覧</h2>
      <hr>
      <%= render 'shop/reviews/index', reviews: @reviews %>
      <%= link_to '全ての口コミを見る', shop_items_path, class: "float-end" %>
    </div>

  </div>
  <div class="col-3 px-3">
    <%= render 'menu' %>
  </div>
</div>