<table class="table table-hover table-bordered">
  <thead>
    <tr class="text-center">
      <th>TOP画像</th>
      <th>商品名</th>
      <th>金額・在庫</th>
      <th>公開/非公開</th>
    </tr>
  </thead>
  <tbody>
    <% items. each do |item| %>
      <tr class="tr-link" onclick='window.location="<%= edit_shop_item_path(item) %>"' role="link">
        <td><%= image_tag item.get_item_image(100,100) %></td>
        <td><%= item.name %></td>
        <td>
          <%= item.price.to_s(:delimited, delimiter: ',') %>円<br>
          在庫<%= item.stock %>個
        </td>
        <td class="text-center">
          <% if item.is_active %>
            <p class="text-success">公開中</p>
          <% else %>
            <p class="text-danger">非公開</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>