<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>商品一覧<span class="h5">（全<%= @items.count %>件）</span></h2>
    <hr>
    <%= render 'shop/searches/form' %>

    <%= render 'index', items: @items, item_tags: @item_tags %>

    <!--ページネーション-->
    <%= render 'layouts/paginate', content: @items %>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/homes_menu',tag_rank: @tag_rank %>
  </div>
</div>