<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>新着メッセージ</h2>
    <hr>
    <% unless @messages.blank? %>
      <% @messages.each do |message| %>
        <%= link_to message_path(message.room.shop) do %>
          <div class="col-12 d-flex flex-row flex-wrap my-3 p-3 <%= (message.is_a?(ShopMessage) ? "my-message" : "" ) %> <%= (message.is_a?(MemberMessage) ? "other-message" : "" ) %>">
            <div class="col-9">
              <% if message.is_a?(MemberMessage) %>
                <%= message.room.shop.name %> さん
              <% elsif message.is_a?(ShopMessage) %>
                <%= message.shop.name %> さん
              <% end %>
              <p class="pt-1"><%= message.message %></p>
            </div>
            <div class="col-3">
              <small class="text-secondary"><%= message.created_at.strftime("%Y年%m月%d %H:%M:%S") %></small>
            </div>
          </div>
      <% end %>
      <% end %>
    <% else %>
      <p>メッセージはまだありません</p>
    <% end %>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>