<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>新着メッセージ</h2>
    <hr>
    <% unless @messages.blank? %>
      <% @messages.each do |message| %>
          <div class="d-flex flex-row bg-info-subtle p-3 my-3">
            <div class="fw-bold pe-3">
              <% if message.is_a?(MemberMessage) %>
                <%= link_to message_path(message.room.shop) do %>
                  <div class="btn btn-info hover-none">
                  <%= message.created_at.strftime("%Y年%m月%d日") %>
                    <%= message.room.shop.name %> さん
                  </div>
                  <small><%= message.member.member_full_name %> さんから送信:</small>
                <% end %>
              <% elsif message.is_a?(ShopMessage) %>
                <%= link_to message_path(message.shop) do %>
                  <div class="btn btn-info hover-none">
                    <%= message.created_at.strftime("%Y年%m月%d日") %>
                    <%= message.shop.name %> さん
                  </div>
                  <small><%= message.shop.name %> さん<small>[ <%= message.room.shop.id %> ]</small>から受信:</small>
                <% end %>
              <% end %>
              <p class="pt-1"><%= message.message %></p>
            </div>
          </div>
      <% end %>
    <% else %>
      <p>メッセージはまだありません</p>
    <% end %>


    <!--ページネーション-->
    <%#= render 'layouts/paginate', content: @messages %>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>