<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <div class="col-10">
      <div class= "py-2">
        <% @messages.each do |message| %>
          <%= message.message %>
          <%= link_to "削除", message_path(message), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>

      <div class= "py-2">
        <%= form_with model: @message, url: messages_path do |f| %>
          <%= f.text_area :message, class: "form-control" %>
          <div class= "py-2">
            <%= f.submit "送信", class: "btn btn-info" %>
          </div>
          <%= f.hidden_field :room_id %>
        <% end %>
      </div>

    </div>




      <%= link_to "◀ ショップ詳細へ戻る", shop_path(@shop) %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>