<!--新規に送る用-->
<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2><%= @shop.name %>さんとのメッセージ</h2>
    <hr>
    <div class="col-12">
      <!--メッセージ-->
      <div class= "py-2">
        <% @messages.each do |message| %>
          <div class="bg-light p-2">
            <div class="p-3 <%= (message.is_a?(MemberMessage) ? "my-message" : "" ) %> <%= (message.is_a?(ShopMessage) ? "other-message" : "" ) %>">
              <% unless message.is_a?(MemberMessage) %>
                <span class="px-1 py-0">
                  <%= link_to shop_path(message.shop) do %>
                    <%= message.shop.name %> さん
                  <% end %>
                </span>
              <% end %>
              <p class="pt-1">
                <%= message.message %>
              </p>
              <small class="text-body-tertiary">(<%= message.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>)</small>
              <% unless message.is_a?(ShopMessage) %>
                <%= link_to "削除", message_path(message), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!--送信フォーム-->
      <div class= "py-2">
        <%= form_with model: @message, url: messages_path do |f| %>
          <%= f.text_area :message, class: "form-control" %>
          <div class= "py-2 text-end">
            <%= f.submit "送信", class: "btn btn-info" %>
          </div>
          <%= f.hidden_field :room_id %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>