<% members.each do |member| %>
  <tr>
    <td>
      <%= member.id %>
    </td>
    <td>
      <%= link_to admin_member_path(member) do %>
        <%= member.member_full_name %><br>
        <%= member.member_full_name_kana %>
      <% end %>
    </td>
    <td>
      <%= member.nickname %>
    </td>
    <td>
      TEL: <%= member.telephone_number.to_s.insert(3, "-").insert(7, "-") %><br>
      〒 <%= member.postal_code.to_s.insert(3, "-") %><br>
      <%= member.address %>
    </td>
    <td>
     <% if member.is_active == true %>
        <span class="text-submit fw-bold">有効</span>
      <% else %>
        <span class="text-danger fw-bold">退会</span>
      <% end %>
    </td>
  </tr>
<% end %>