<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3 mt-3">
    <h2>会員情報編集</h2>
    <hr>

    <h3 class="bg-info p-1 h5">名前</h3>
    <table class="table table-borderless table-light my-3">
      <tr>
        <th class="w-25">メンバーID</th>
        <td>
          [ <%= @member.id %> ]
        </td>
      </tr>
      <tr>
        <th class="w-25">名前</th>
        <td>
          <%= @member.member_full_name %>
        </td>
      </tr>
      <tr>
        <th class="w-25">名前(カナ)</th>
        <td>
          <%= @member.member_full_name_kana %>
        </td>
      </tr>
    </table>

    <h3 class="bg-info p-1 h5">ユーザー情報</h3>
    <table class="table table-borderless table-light my-3">
      <tr>
        <th class="w-25">郵便番号</th>
        <td>
          <%= @member.postal_code.to_s.insert(3, "-") %>
        </td>
      </tr>
      <tr>
        <th class="w-25">住所</th>
        <td>
          <%= @member.address %>
        </td>
      </tr>
      <tr>
        <th class="w-25">電話番号</th>
        <td>
          <%= @member.telephone_number.to_s.insert(3, "-").insert(8, "-") %>
        </td>
      </tr>
    </table>

    <h3 class="bg-info p-1 h5">ログイン情報</h3>
    <table class="table table-borderless table-light my-3">
      <tr>
        <th class="w-25">ニックネーム</th>
        <td colspan="2">
          <%= @member.nickname %>
        </td>
      </tr>
      <tr>
        <th class="w-25">メール</th>
        <td colspan="2">
          <%= @member.email %>
        </td>
      </tr>
    </table>

    <h3 class="bg-info p-1 h5">会員ステータス</h3>
    <%= form_with model: @member, url: admin_member_path do |f| %>
        <div class="d-flex justify-content-center bg-light p-3 mt-3">
        <div class="me-3">
          <%= f.radio_button :is_active, true, class: "form-check-input" %><%= f.label :is_active, '有効', class: "form-check-label" %>
          <%= f.radio_button :is_active, false, class: "form-check-input" %><%= f.label :is_active, '退会', class: "form-check-label" %>
        </div>
        <div>
          <%= f.submit '変更する', class: "btn btn-info p-2" %>
        </div>
      </div>
    <% end %>

      <div class="d-flex justify-content-center my-3">
        <div class="col-6 d-grid p-2">
          <%= link_to "ユーザーのお客様情報へ戻る", admin_member_path(@member), class: "btn btn-outline-info p-2" %>
        </div>
      </div>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>