<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <%= form_with url: admin_members_path, method: :get do |f| %>
      <%= f.hidden_field :member %>
      <%= render 'admin/searches/form', f: f %>
    <% end %>
    <!--詳細-->
    <div class="col-12 order-3 p-1">
      <table class="table table-bordered table-light">
        <thead>
          <tr>
            <th>メンバーID</th>
            <th>名前</th>
            <th>ニックネーム</th>
            <th>会員情報</th>
            <th>会員ステータス</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'index', members: @members %>
        </tbody>
      </table>
    </div>
    <%= link_to "◀ 管理画面TOPへ戻る", admin_top_path %>

    <!--ページネーション-->
    <% if false %>
    <hr>
    <div class="paginate d-flex align-items-center justify-content-center">
      1件～<% if @members.count < 12 %><%= @members.count %><% else %>12<% end %>件（全<%= @members.count %>件）<span class="pt-2 ps-2"><%= paginate @members, theme: 'bootstrap-5' %></span>
    </div>
    <hr>
    <% end %>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/admin_menu' %>
  </div>
</div>