<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <!--詳細-->
    <h2><%= @member.member_full_name %>さま詳細情報</h2>
    <hr>
    <div class="pb-5">
      <div class="d-flex flex-row flex-wrap">
        <div class="main-content col-6">
          <table class="table table-bordered h-100">
            <tr>
              <th class="w-25">メンバーID</th>
              <td>[ <%= @member.id %> ]</td>
            </tr>
            <tr>
              <th class="w-25">氏名</th>
              <td>
                <%= @member.member_full_name %> 様<br>
                <%= @member.member_full_name_kana %>
              </td>
            </tr>
            <tr>
              <th>ニックネーム</th>
              <td><%= @member.nickname %></td>
            </tr>
            <tr>
              <th>状態</th>
              <td>
                <% if @member.is_active == true %>
                  <span class="text-submit fw-bold">有効</span>
                <% else %>
                  <span class="text-danger fw-bold">退会</span>
                <% end %>
              </td>
            </tr>
          </table>
        </div>

        <div class="main-content col-6">
          <table class="table table-bordered h-100">
            <tr>
              <th class="w-25">電話番号</th>
              <td><%= @member.telephone_number.to_s.insert(3, "-").insert(8, "-") %></td>
            </tr>
            <tr>
              <th class="w-25">住所</th>
              <td>〒 <%= @member.postal_code.to_s.insert(3, "-") %><br><%= @member.address %></td>
            </tr>
            <tr>
              <th>口コミ</th>
              <td colspan="4">
                <%= @reviews.count %> 件の投稿あり
              </td>
            </tr>
          </table>
        </div>
      </div>
      <%= link_to "退会状況の編集", edit_admin_member_path, class: "btn btn-outline-info p-2 mt-2" %>
    </div>

    <h3>現在の予約<span class="h5">（全<%= @before_visit_pre_orders.count %>件）</span></h3>
    <hr>
    <%= render 'shop/pre_orders/index', pre_orders: @before_visit_pre_orders %>

    <h3>過去の予約履歴<span class="h5">（全<%= @visit_or_cancel_pre_orders.count %>件）</span></h3>
    <hr>
    <%= render 'shop/pre_orders/index', pre_orders: @visit_or_cancel_pre_orders %>

    <%= link_to "◀ ユーザー一覧へ戻る", admin_members_path %>

  </div>

  <div class="left-content col-3 px-3">
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>