<div class="container d-flex flex-column pt-3">
  <div class="login-content col-8 mx-auto px-3 pt-3">
    <h2>ログイン</h2>
    <hr>
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="pt-2">
          <table class="table table-borderless table-light">
            <tbody>
              <tr>
                <th><%= f.label :email, "メール" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
              </tr>
              <tr>
                <th><%= f.label :password, "パスワード" %></td>
                <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6 d-grid my-3 mx-auto">
          <%= f.submit "ログインする", class: "btn btn-info p-2" %>
        </div>
      <% end %>

  </div>
</div>