<div class="card d-flex flex-row p-2">
  <div class="col-2">
    <%= image_tag @shop.get_shop_image(100,100), class: "w-100 h-100" %>
  </div>
  <div class="col-7 d-flex flex-column px-2">
    <div class="d-flex flex-row">
      <h1 class="fw-bold h6"><%= @shop.name %></h1>
      <small><%= @shop.name_kana %></small>
    </div>
    <small>
      〒<%= @shop.postal_code.to_s.insert(3, "-") %><br>
      <%= @shop.address %><br>
      <%= @shop.direction %>
    </small>
  </div>
  <div class="col-3">
    <%= link_to 'ショップ情報を見る', shop_path(@shop), class: "btn btn-info mb-2 d-grid" %>
    <% if @shop.favorite_shop_by?(current_member) %>
      <%= link_to 'お気に入り登録済み', favorite_shops_path, class: "btn btn-outline-info d-grid" %>
    <% else %>
      <%= link_to 'お気に入りに登録する', shop_favorite_shop_path(@shop), method: :post, class: "btn btn-outline-info d-grid" %>
    <% end %>
  </div>
</div>