<% if shop.is_active %>
  <div id="shop_<%= @shop.id %>" class="card d-flex flex-row flex-wrap p-2">
    <div class="wide-item col-9 d-flex flex-row">
      <div class="col-2">
        <%= image_tag shop.get_shop_image(200,200), class: "w-100 hover-none" %>
      </div>
      <div class="col-10 d-flex flex-column px-2">
        <div class="d-flex flex-row">
          <h2 class="fw-bold h6"><%= shop.name %></h2>
          <small><%= shop.name_kana %></small>
        </div>
        <small>
          〒<%= shop.postal_code.to_s.insert(3, "-") %><br>
          <%= shop.address %><br>
          <%= shop.direction %>
        </small>
      </div>
    </div>
    <div class="wide-item col-3 mt-2">
      <%= link_to 'ショップ情報を見る', shop_path(shop), class: "btn btn-info mb-2 d-grid" %>
      <div class="favorite-btn">
        <%= render 'public/favorite_shops/btn', shop: shop %>
      </div>
    </div>
  </div>
<% else %>
<div class="bg-secondary-subtle p-2">
  ※このショップは退会しているため、ショップ情報を見ることが出来ません。
</div>
<% end %>