<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <div class="d-flex flex-wrap">
      <!--画像-->
      <div class="col-4">
        <%= image_tag @shop.get_shop_image(500,500), class: "w-100 p-1" %>
        <% if member_signed_in? %>
          <% if @shop.favorite_shop_by?(current_member) %>
            <%= link_to 'お気に入り登録済み', favorite_shops_path, class: "btn btn-outline-info d-grid" %>
          <% else %>
            <%= link_to 'お気に入りに登録する', shop_favorite_shop_path(@shop), method: :post, class: "btn btn-info d-grid" %>
          <% end %>
        <% else %>
          <button class="btn btn-outline-secondary p-2 mt-2" disabled>お気に入りに登録する</button>
        <% end %>
        <%= link_to 'ショップの口コミを見る', shop_review_path(@shop), class: "btn btn-outline-info d-grid mt-2" %>
      </div>
      <!--詳細-->
      <div class="col-8 p-1">
        <h1 class="h3 fw-bold"><%= @shop.name %></h1>
        <p class="h6"><%= @shop.name_kana %></p>
        <!--ショップコメント-->
        <div class="bg-light p-3 mb-3">
          <p class="fw-bold mb-2">ショップコメント <i class="fa-solid fa-comment"></i></p>
          <p><%= @shop.introduction %></p>
        </div>

        <hr>
        <p class="fw-bold ms-3">ショップ情報</p>
        <table class="table table-bordered table-light">
          <tr>
            <th>紹介文</th>
            <td><%= @shop.introduction %></td>
          </tr>
          <tr>
          <tr>
            <th>住所</th>
            <td>
              〒<%= @shop.postal_code.to_s.insert(3, "-") %><br>
              <%= @shop.address %>
            </td>
          </tr>
          <tr>
            <th>アクセス・道案内</th>
            <td><%= @shop.direction %></td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= @shop.opening_hour %></td>
          </tr>
          <tr>
            <th>定休日</th>
            <td><%= @shop.holiday %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @shop.telephone_number.to_s.insert(3, "-").insert(8, "-") %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @shop.payment_method %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= @shop.note %></td>
          </tr>
        </table>
      </div>
    </div>
    <%= render 'public/items/index', items: @items %>

  </div>
  <div class="col-3 px-3">
    <%= render 'public/members/info' %>
    <%= render 'public/homes/menu' %>
  </div>
</div>