<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <div class="d-flex flex-wrap">
      <!--画像-->
      <div class="col-4">
        <%= image_tag @shop.get_shop_image(500,500), class: "w-100 p-1" %>
        <%= render 'public/favorite_shops/btn', shop: @shop %>
        <%= link_to review_path(@shop), class: "btn btn-outline-info d-grid mt-2" do %>
           ショップの口コミを見る (<%= @reviews.count %>)
        <% end %>
        <% if current_shop == @shop %>
          <%= link_to '編集する', shop_edit_information_path, class: "btn btn-info d-grid mt-2" %>
        <% elsif admin_signed_in? %>
        <table class="table table-bordered my-3">
          <tr>
            <th>ショップ担当者</th>
            <td><%= @shop.representative_name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @shop.email %></td>
          </tr>
          <tr>
            <td colspan="2"><%= link_to '退会状況の編集', edit_admin_shop_path(@shop), class: "btn btn-outline-info d-grid mt-2" %></td>
          </tr>
        </table>

        <% end %>
      </div>
      <!--詳細-->
      <div class="col-8 p-1">
        <h1 class="h3 fw-bold"><%= @shop.name %></h1>
        <p class="h6"><%= @shop.name_kana %> <small>[ <%= @shop.id %> ]</small></p>
        <!--ショップコメント-->
        <div class="bg-light p-3 mb-3">
          <p class="fw-bold mb-2">ショップコメント <i class="fa-solid fa-comment"></i></p>
          <p><%= @shop.introduction %></p>
        </div>

        <hr>
        <p class="fw-bold ms-3">ショップ情報</p>
        <table class="table table-bordered table-light">
          <tr>
            <th>住所</th>
            <td>
              〒<%= @shop.postal_code.to_s.insert(3, "-") %><br>
              <%= @shop.address %>
            </td>
          </tr>
          <tr>
            <th>アクセス・道案内</th>
            <td><%= @shop.direction %></td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= @shop.opening_hour %></td>
          </tr>
          <tr>
            <th>定休日</th>
            <td><%= @shop.holiday %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @shop.telephone_number.to_s.insert(3, "-").insert(8, "-") %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @shop.payment_method %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= @shop.note %></td>
          </tr>
        </table>
      </div>
    </div>
    <%= render 'public/items/index', items: @items %>
    <% if admin_signed_in? %>
      <%= link_to "◀ ショップ一覧へ戻る", admin_shops_path %>
    <% else %>
      <%= link_to "◀ TOPへ戻る", root_path %>
    <% end %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>