<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>予約一覧<span class="h5">（全<%= @pre_orders.count %>件）</span></h2>
    <hr>
    <%= render 'shop/searches/form', search: @search_order %>

    <h3>現在の予約<span class="h5">（全<%= @before_visit_pre_orders.count %>件）</span></h3>
    <hr>
    <%= render 'index', pre_orders: @before_visit_pre_orders %>

    <div class="pt-4">
      <h3>過去の予約履歴<span class="h5">（全<%= @visit_or_cancel_pre_orders.count %>件）</span></h3>
      <hr>
      <div class="bg-secondary-subtle p-3">
        <%= render 'index', pre_orders: @visit_or_cancel_pre_orders %>
      </div>
    </div>

    <!--ページネーション-->
    <%= render 'layouts/paginate', content: @visit_or_cancel_pre_orders %>


  </div>
  <!--左ナビ-->
  <div class="left-content col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu',tag_rank: @tag_rank %>
  </div>
</div>