<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>予約詳細</h2>
    <hr>
    <table class="table table-borderless table-secondary">
      <tr>
        <th>予約状況</th>
        <td><%= render 'status', pre_order: @pre_order %></td>
        <td>
          <%= form_with model: @pre_order, url: shop_pre_order_path do |f| %>
            <%= f.select :status, PreOrder.statuses.keys.map {|k| [I18n.t("enums.pre_order.status.#{k}"), k]}, class: "form-select" %>
            <%= f.submit "更新する", class: "btn btn-info" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>来店日時</th>
        <td colspan="2">日にち：<%= @pre_order.visit_day %> 時間：<%= @pre_order.visit_time %></td>
      </tr>
      <tr>
        <th>ショップ情報</th>
        <td colspan="2">
          <%= link_to shop_path(@pre_order.item.shop.id) do %>
            <%= @pre_order.item.shop.name %>
            <%= @pre_order.item.shop.address %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ご予約商品</th>
        <td colspan="2">
          <%= @pre_order.name %>※キャンセルについて（ルール決める）<br>
          用途：<%= @pre_order.purpose %><br>
          備考：<%= @pre_order.note %>
        </td>
      </tr>
      <tr>
        <th>お支払金額</th>
        <td colspan="2"><%= @pre_order.total_payment.to_s(:delimited) %>円　※来店時にショップへお支払いください</td>
      </tr>
      <tr>
        <th>予約番号</th>
        <td colspan="2"><%= @pre_order.id %>　※ランダムで番号作るか検討</td>
      </tr>
    </table>
    <!--予約者情報-->
    <table class="table table-borderless table-secondary">
      <tr>
        <th>予約者名</th>
        <td>
          <%= link_to shop_member_path(@pre_order.member_id) do %>
            <%= @pre_order.order_full_name %> 様<br>
            （<%= @pre_order.order_full_name_kana %>）
          <% end %>
        </td>
      </tr>
      <tr>
        <th>予約者住所</th>
        <td>
          〒<%= @pre_order.postal_code.to_s.insert(3, "-") %><br>
          <%= @pre_order.address %>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          <%= @pre_order.telephone_number.to_s.insert(3, "-").insert(7, "-") %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-3 px-3">
    <%= render 'shop/homes/menu' %>
  </div>
</div>