<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <% if @model == 'item' %>
    <!--商品検索-->
      <h2>「<%= @content %>」<span class="h4">を含む商品の検索結果</span><span class="h6">（全<%= @records.count %>件）</span></h2>
      <hr>
      <% if @records.blank? %>
        <p class="lh-lg">
        該当する商品はありません<br>
        <%= link_to '◀ TOPへ戻る', root_path %>
        </p>
      <% else %>
        <%= render 'public/items/index', items: @records %>
      <% end %>

    <% elsif @model == 'shop' %>
    <!--ショップ検索-->
      <h2>「<%= @content %>」<span class="h4">を含むショップの検索結果</span><span class="h6">（全<%= @records.count %>件）</span></h2>
      <hr>
      <% if @records.blank? %>
        <p class="lh-lg">
        該当するショップはありません<br>
        <%= link_to '◀ TOPへ戻る', root_path %>
        </p>
      <% else %>
        <%= render 'public/shops/index', shops: @records %>
      <% end %>

    <% elsif @model == 'tag' %>
    <!--タグ検索-->
      <h2>「<%= @content %>」<span class="h4">を含むタグのついた商品の検索結果</span><span class="h6">（全<%= @records.count %>件）</span></h2>
      <hr>
      <% if @records.blank? %>
        <p class="lh-lg">
        該当する商品はありません<br>
        <%= link_to '◀ TOPへ戻る', root_path %>
        </p>
      <% else %>
        <%= render 'public/items/index', items: @records %>
      <% end %>
      <%= render 'public/searches/tag_btn', tags: @tags %>

    <% end %>
    <!--ページネーション-->
    <% if @model != 'tag' %>
      <hr>
      <div class="paginate d-flex align-items-center justify-content-center">
        1件～12件（全<%= @records.count %>件）<span class="pt-2 ps-2"><%= paginate @records, theme: 'bootstrap-5' %></span>
      </div>
      <hr>
    <% end %>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>