<% if member_signed_in? %>
  <% if shop.favorite_shop_by?(current_member) %>
    <%= link_to favorite_shops_path, class: "btn btn-info d-grid" do %>
      <p>お気に入り登録済 <i class="fa-solid fa-heart"></i> <% if shop.favorite_shops.count >= 1 %> <%= shop.favorite_shops.count %><% end %></p>
    <% end %>
  <% else %>
    <%= link_to shop_favorite_shop_path(shop), remote: true, method: :post, class: "btn btn-outline-info d-grid" do %>
      <p>お気に入り登録する <i class="fa-regular fa-heart"></i> <% if shop.favorite_shops.count >= 1 %> <%= shop.favorite_shops.count %><% end %></p>
    <% end %>
  <% end %>
<% else %>
  <button class="btn btn-outline-secondary p-2 mt-2 w-100" disabled>お気に入り数 <span><% if shop.favorite_shops.count >= 1 %> <%= shop.favorite_shops.count %><% end %></span></button>
<% end %>