<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th>ショップ</th>
      <th>住所</th>
      <th>営業時間</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% shops. each do |shop| %>
      <tr>
        <td>
          <%= link_to shop_path(shop) do %>
            <%= image_tag shop.get_shop_image(100,100), class: "col-2 pe-1" %>
            <%= shop.name %>
          <% end %>
        </td>
        <td>
          〒<%= shop.postal_code.to_s.insert(3, "-") %><br>
          <%= shop.address %>
        </td>
        <td>
          <%= shop.opening_hour %><br>
          定休日: <%= shop.holiday %>
        </td>
        <td>
          <%= link_to '×', shop_favorite_shop_path(shop), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-info py-0 px-1 mt-2" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>