<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2><%= @member.member_full_name %>様の予約情報</h2> <%= link_to 'メッセージを送る', shop_message_path(@member) %>
    <hr>
    <div class="d-flex flex-row pb-5">
      <div class="col-6">
        <table class="table table-bordered h-100">
          <tr>
            <th class="w-25">氏名</th>
            <td colspan="4"><%= @member.member_full_name %> 様</td>
          </tr>
          <tr>
            <th class="w-25">カナ</th>
            <td><%= @member.member_full_name_kana %></td>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <td colspan="4"><%= @member.nickname %></td>
          </tr>
        </table>
      </div>

      <div class="col-6">
        <table class="table table-bordered h-100">
          <tr>
            <th class="w-25">電話番号</th>
            <td colspan="4"><%= @member.telephone_number.to_s.insert(3, "-").insert(8, "-") %></td>
          </tr>
          <tr>
            <th class="w-25">住所</th>
            <td>〒 <%= @member.postal_code.to_s.insert(3, "-") %><br><%= @member.address %></td>
          </tr>
          <tr>
            <th>口コミ</th>
            <td colspan="4">
              <%= @reviews.count %> 件の投稿あり
              <%= link_to review_path(@member) do %>
                <small>▶ ショップの口コミを見る</small>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <h3>現在の予約<span class="h5">（全<%= @before_visit_pre_orders.count %>件）</span></h3>
    <hr>
    <%= render 'shop/pre_orders/index', pre_orders: @before_visit_pre_orders %>

    <div class="pt-4">
      <h3>過去の予約履歴<span class="h5">（全<%= @visit_or_cancel_pre_orders.count %>件）</span></h3>
      <hr>
      <div class="bg-secondary-subtle p-3">
        <%= render 'shop/pre_orders/index', pre_orders: @visit_or_cancel_pre_orders %>
      </div>
    </div>

    <!--ページネーション-->
    <% if false %>
    <hr>
    <div class="paginate d-flex align-items-center justify-content-center">
      1件～<% if @visit_or_cancel_pre_orders.count < 12 %><%= @visit_or_cancel_pre_orders.count %><% else %>12<% end %>件（全<%= @visit_or_cancel_pre_orders.count %>件）
      <span class="pt-2 ps-2"><%= paginate @visit_or_cancel_pre_orders, theme: 'bootstrap-5' %></span>
    </div>
    <hr>
    <% end %>


  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/shop_menu' %>
  </div>
</div>