<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <%= render 'pickup_img' %>

    <h2>New Item<span class="h6">（全<%= @items.total_count %>件）</span></h2>
    <hr>
    <div>
      <%= render 'public/items/index', items: @items %>

      <!--ページネーション-->
      <%= render 'layouts/paginate', content: @items %>
    </div>

  </div>
  <!--左ナビ-->
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>