<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h1>TOP</h1>
    <hr>
    <p>商品一覧とカテゴリ一覧を並べる</p>

    <h2>New Item</h2>
    <hr>
    <div class="d-flex flex-wrap">
      <% @items. each do |item| %>
        <div class="col-4 card p-2">
          <%= link_to item_path(item) do %>
            <%= image_tag item.get_item_image(200,200), class: "card-img-top" %>
            <div class="card-body">
              <div class="card-title h6">
                <%= item.name %>
              </div>
              <div class="card-body">
                <%= item.price.to_s(:delimited, delimiter: ',') %>円<br>
                在庫<%= item.stock %>個<br>
                <%= item.is_active %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <h2>Ranking</h2>
    <hr>
    <h3>花束</h3>
    <hr>
    <h3>アレンジ</h3>
    <hr>
    <h3>お祝い</h3>
    <hr>

  </div>
  <div class="col-3 px-3">
    <%= render 'menu' %>
  </div>
</div>