<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3 mt-3">
    <h2>会員情報編集</h2>
    <hr>
    <div class="pb-5">
      <%= form_with model: @member, url: update_information_path do |f| %>
        <%= render "public/shared/error_messages", resource: @member %>
        <h3 class="bg-info p-1 h5">名前</h3>
        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">名前<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :last_name,autofocus: "true", autocomplete: "last_name", class: "form-control" %>
              <small class="text-secondary">例）山本</small>
            </td>
            <td>
              <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control" %>
              <small class="text-secondary">例）花子</small>
            </td>
          </tr>
          <tr>
            <th class="w-25">名前(カナ)<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "form-control" %>
              <small class="text-secondary">例）ヤマモト</small>
            </td>
            <td>
              <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "form-control" %>
              <small class="text-secondary">例）ハナコ</small>
            </td>
          </tr>
        </table>

        <h3 class="bg-info p-1 h5">ユーザー情報</h3>
        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">郵便番号<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :postal_code,autocomplete: "postal_code", class: "form-control" %>
              <small class="text-secondary">例）1234567　※ハイフンは不要です</small>
            </td>
          </tr>
          <tr>
            <th class="w-25">住所<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <th class="w-25">電話番号<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :telephone_number, autocomplete: "telephone_number", class: "form-control" %>
              <small class="text-secondary">例）08000000000　※ハイフンは不要です。</small>
            </td>
          </tr>
        </table>

        <h3 class="bg-info p-1 h5">ログイン情報</h3>
        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">ニックネーム<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td colspan="2">
              <%= f.text_field :nickname, autocomplete: "nickname", class: "form-control" %>
              <small class="text-secondary">※ニックネームは口コミ投稿時に表示される名前です。</small>
            </td>
          </tr>
          <tr>
            <th class="w-25">メール<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td colspan="2">
              <%= f.text_field :email, autocomplete: "email", class: "form-control" %>
              <small class="text-secondary">例）xxx_sample@mail</small>
            </td>
          </tr>
        </table>

        <div class="d-flex flex-row my-3 mx-auto">
          <div class="col-6 d-grid p-2">
            <%= link_to "マイページへ戻る", mypage_path, class: "btn btn-outline-info p-2" %>
          </div>
          <div class="col-6 d-grid p-2">
            <%= f.submit "この内容で更新する", class: "btn btn-info p-2" %>
          </div>
        </div>

      <% end %>
    </div>
    <div class="mb-3"><%= link_to "退会手続き", member_confirm_unsubscribe_path %></div>

  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>