<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>マイページ</h2>
    <hr>

    <div class="pt-5">
      <h2><strong>最近見た</strong> <span class="h4">商品</span></h2>
      <hr>
      <% unless @recently_seen_item.blank? %>
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th class="w-50">商品</th>
              <th>ショップ</th>
              <th>金額・在庫</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <%= link_to item_path(@recently_seen_item) do %>
                    <div class="d-flex flex-row">
                      <%= image_tag @recently_seen_item.get_item_image(200,200), class: "col-4 pe-1" %>
                      <div class="col-8 ps-1"><%= @recently_seen_item.name %> [ <%= @recently_seen_item.id %> ]</div>
                    </div>
                  <% end %>
                </td>
                <td>
                  <%= link_to shop_path(@recently_seen_item.shop) do %>
                    <%= @recently_seen_item.shop.name %>
                  <% end %>
                </td>
                <td class="text-end">
                  <%= @recently_seen_item.price.to_s(:delimited, delimiter: ',') %>円(税込)<br>
                  在庫<%= @recently_seen_item.stock %>個
                </td>
              </tr>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="pt-5">
      <h2><span class="h4">お気に入りショップの</span> <strong>新着商品</strong> <span class="h6">（全<%= @favorite_shop_items.count %>件）</span></h2>
      <hr>
      <% unless @favorite_shop_items.blank? %>
        <%= render 'public/items/index', items: @favorite_shop_items %>
        <%= link_to 'お気に入りショップの商品を見る ▶', favorite_shop_items_path, class: "float-end" %>
      <% else %>
        <p>お気に入りショップの商品がありません</p>
        <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
      <% end %>
    </div>

    <div class="pt-5">
      <h2><span class="h4">あなたの</span> <strong>ブックマーク商品</strong> <span class="h6">（全<%= @bookmark_items.count %>件）</span></h2>
      <hr>
      <% unless @bookmark_items.blank? %>
        <%= render 'public/bookmarks/index', items: @bookmark_items %>
        <%= link_to '全てのブックマークを見る ▶', bookmarks_path, class: "float-end" %>
      <% else %>
        <p>ブックマーク中の商品がありません</p>
        <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
      <% end %>
    </div>

    <div class="pt-5">
      <h2><span class="h4">あなたの</span> <strong>お気に入りショップ</strong> <span class="h6">（全<%= @favorite_shops.count %>件）</span></h2>
      <hr>
      <% unless @favorite_shops.blank? %>
        <%= render 'public/favorite_shops/index', shops: @favorite_shops %>
        <%= link_to '全てのお気に入りショップを見る ▶', favorite_shops_path, class: "float-end" %>
      <% else %>
        <p>お気に入りショップの登録がありません</p>
        <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
      <% end %>
    </div>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>