<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>マイページ</h2>
    <hr>

    <div class="pt-5">
      <h2><span class="h4">お気に入りショップの</span> <strong>新着商品</strong> <span class="h6">（全<%= @favorite_shop_items.count %>件）</span></h2>
      <hr>
      <% unless @favorite_shop_items.blank? %>
        <%= render 'public/items/index', items: @favorite_shop_items %>
        <%= link_to 'お気に入りショップの商品を見る ▶', favorite_shop_items_path, class: "float-end" %>
      <% else %>
        <p>お気に入りショップの登録がありません</p>
        <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
      <% end %>
    </div>

    <div class="pt-5">
      <h2><span class="h4">あなたの</span> <strong>ブックマーク商品</strong> <span class="h6">（全<%= @bookmark_items.count %>件）</span></h2>
      <hr>
      <% unless @bookmark_items.blank? %>
        <%= render 'public/bookmarks/index', items: @bookmark_items %>
        <%= link_to '全てのブックマークを見る ▶', bookmarks_path, class: "float-end" %>
      <% else %>
        <p>ブックマークの登録がありません</p>
        <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
      <% end %>
    </div>

    <div class="pt-5">
      <h2><span class="h4">あなたの</span> <strong>お気に入りショップ</strong> <span class="h6">（全<%= @favorite_shops.count %>件）</span></h2>
      <hr>
      <% unless @bookmark_items.blank? %>
        <%= render 'public/favorite_shops/index', shops: @favorite_shops %>
        <%= link_to '全てのお気に入りショップを見る ▶', favorite_shops_path, class: "float-end" %>
      <% else %>
        <p>ブックマークの登録がありません</p>
        <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
      <% end %>
    </div>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>