<div class="about-top col-12 bg-gray">
  <h1 class="d-flex flex-column py-4 text-center fs-2">
    管理者ガイド</span>
  </h1>
</div>
<div class="container d-flex flex-column align-items-center pt-3 mt-3">
  <div class="about-content col-9 px-3">

    <div class="about-point bg-gray">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          <%= link_to '商品管理', admin_items_path %>
        </h3>
        <hr>
        <p>
          公開/非公開に関わらず、全てのショップが登録した商品を確認することが出来ます。<br>
          登録された画像が植物や花に関連しているかどうかをAIによって判定し、関連性が低い場合は画像チェックが「確認中」になります。画像チェック後、問題ないと判断した場合は「承認」、確認後、承認しない場合は「承認不可」に変更してください。<br>
          また、商品管理ページから、商品の公開/非公開設定を変更することもできます。<br>
          商品を削除したい場合は、商品名を押下して商品詳細ページを開き、「削除」ボタンを押下してください。※ただし、該当する商品がユーザーによって予約された記録がある場合は削除することが出来ません。
        </p>
      </div>
    </div>

    <div class="about-point bg-gray">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          <%= link_to 'タグ管理', admin_tags_path %>
        </h3>
        <hr>
        <p>
          「ピックアップイベント」では、登録済みのタグを使用してイベントページを作成できます。<br>
          イベントに設定するタグを選択し、イベント名とイベント内容詳細とアイキャッチ画像を登録してください。ここで登録したイベントを公開すると、左ナビの「おすすめ商品」と、TOPのスライダー画像に反映されます。<br>
          商品にイベントに紐づいたタグを設定する際は、他のタグと同じようにショップの商品登録や編集画面からタグ名を使用して登録されます。タグ名とイベント名が大きく異なると、ショップでタグを登録する際に混乱の原因になるため、タグと同じか似た名前を使用することをお勧めします。<br><br>
          「イベントタグ」から、登録済みのイベントを編集することが出来ます。プルダウンで数字を変更して「並び替え」を押下するとイベントの並び替えも可能です。<br><br>
          ショップによって登録された全てのタグを確認することが出来ます。不要なタグは、「現在登録されている全てのタグ」の「×」ボタンを押下して削除することも可能です。<br>
          タグの中でも、上位件のタグが左ナビに「人気商品」として表示される仕様となっています。<br><br>
        </p>
      </div>
    </div>

    <div class="about-point bg-gray">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          <%= link_to '口コミ管理', admin_reviews_path %>
        </h3>
        <hr>
        <p>
          一般ユーザーが投稿した口コミをまとめて確認することが出来ます。<br>
          投稿された口コミは、AIによって文章のポジティブ判定を行い、点数はポジティブな内容だとプラス値(グリーン)、ネガティブな内容だとマイナス値(レッド)で表示されます。<br>
          口コミはネガティブな値になっていても自動的に非公開になる設定にはなっていないので、目視で不適切だと判断した際に「非公開」に変更してください。
        </p>
      </div>
    </div>

    <div class="about-point bg-gray">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          <%= link_to 'ショップ管理', admin_shops_path %>
        </h3>
        <hr>
        <p>
          退会/在籍に関わらず、登録された全てのショップを確認することが出来ます。<br>
          ショップ情報の確認は、ショップ名を押下してショップ詳細に入り、「退会状況・商品チェック」を押下すると確認することが出来ます。<br>
          ショップに関して管理者側で操作できる内容は以下の通りです。<br>
          ・ショップステータス（有効/退会の設定）変更<br>
          ・登録された商品の公開/非公開設定<br>
          ・商品の削除（商品が予約に紐づいていない場合のみ）
        </p>
      </div>
    </div>

    <div class="about-point bg-gray">
      <div class="about-content col-7 mx-auto">
        <h3 class="d-flex flex-column mt-5">
          <%= link_to '一般メンバー管理', admin_members_path %>
        </h3>
        <hr>
        <p>
          退会/在籍に関わらず、登録された全ての一般ユーザーを確認することが出来ます。<br>
          ユーザー情報の確認は、ユーザー名を押下することで確認出来ます。会員ステータスの変更は、「会員情報の編集」を押下することで編集画面が開きます。<br>
          一般ユーザーに関して管理者側で操作できる内容は以下の通りです。<br>
          ・会員ステータス（有効/退会の設定）変更<br>
          ・投稿された口コミの公開/非公開設定
        </p>
      </div>
    </div>

  </div>
</div>