<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3 mt-3">
    <h2>タグ一覧タグ管理</h2>
    <hr>
    <div class="d-flex justify-content-center mt-5">
      <div class="col-4 px-1">
      <h3>ピックアップタグ</h3>
      <hr>
        <div>
          <table class="table table-hover">
            <tr>
              <th class="text-center bg-member <%= (admin_signed_in? ? "bg-admin" : "" ) %> <%= (shop_signed_in? ? "bg-shop" : "" ) %>">管理者メニュー</th>
            </tr>
            <tr>
              <td>連絡一覧</td>
            </tr>
            <tr>
              <td><%= link_to "口コミ管理", admin_reviews_path %></td>
            </tr>
            <tr>
              <td><%= link_to "タグ管理", admin_tags_path %></td>
            </tr>
            <tr>
              <td><%= link_to "ショップ管理", admin_shops_path %></td>
            </tr>
            <tr>
              <td><%= link_to "一般メンバー管理", admin_members_path %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-4 px-1">
      <h3>上位10件のタグ</h3>
      <hr>
        <div>
          <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <h3>現在登録されている全てのタグ</h3>
      <hr>
      <!--詳細-->
      <div class="col-12 order-3 p-1">
        <div class="d-flex flex-wrap">
          <% @tags.each do |tag| %>
          <div class="col-3 card d-flex flex-row p-2">
            <%= link_to "/search?model=tag&content=#{tag.name}", target: :_blank do %>
              <p># <%= tag.name %>（<%= tag.items.count %>）</p>
            <% end %>
            <%= link_to '×', admin_tag_path(tag), method: :delete, "data-confirm" => "「#{tag.name}」 を削除しますか？'", class: "btn btn-outline-secondary col-1 p-0 h-50" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to "◀ 管理画面TOPへ戻る", admin_top_path %>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/admin_menu' %>
  </div>
</div>