<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2><span class="h4">口コミは</span> <%= @reviews.count %><span class="h4"> 件です</span></h2>
    <hr>
    <div>
    <%= render 'index', reviews: @reviews, shop: @shop %>

      <!--ページネーション-->
      <hr>
      <div class="paginate d-flex align-items-center justify-content-center">
        1件～<% if @reviews.count < 12 %><%= @reviews.count %><% else %>12<% end %>件（全<%= @reviews.count %>件）<span class="pt-2 ps-2"><%= paginate @reviews, theme: 'bootstrap-5' %></span>
      </div>
      <hr>
    </div>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>