<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2><span class="h4">口コミは</span> <%= @reviews.count %><span class="h4"> 件です</span></h2>
    <hr>
    <div>
    <%= render 'index', reviews: @reviews, shop: @shop %>

      <!--ページネーション-->
      <%= render 'layouts/paginate', content: @reviews %>
    </div>

  </div>
  <!--左ナビ-->
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>