<div class="container d-flex flex-column pt-3">
  <div class="login-content col-8 mx-auto px-3">

    <!--3step-->
    <div class="d-flex justify-content-center align-items-center pb-3">
      <div class="col-3 bg-secondary-subtle text-center p-1 text-body-tertiary rounded-3">
        <small class="fw-bold">step.1</small><br>
        <span class="fw-bold">予約内容入力</span>
      </div>
      <div class="col-1 text-center text-body-tertiary">▶</div>
      <div class="col-3 bg-info text-center p-1 rounded-3 text-white">
        <small class="fw-bold">step.2</small><br>
        <span class="fw-bold">予約内容確認</span>
      </div>
      <div class="col-1 text-center text-body-tertiary">▶</div>
      <div class="col-3 bg-secondary-subtle text-center p-1 rounded-3 text-body-tertiary">
        <small>step.3</small><br>
        <span class="fw-bold">予約完了</span>
      </div>
    </div>

    <h2><span>step2</span> 予約情報をご確認ください</h2>
    <hr>
    <p class="text-danger fw-bold text-center">【 まだ予約は完了していません。 】</p>
    <table class="form-table table table-bordered table-light my-3">
      <tr>
        <th class="w-25">来店日時</th>
        <td><span class="text-danger fw-bold"><%= @pre_order.visit_day.strftime("%Y年%-m月%-d日") %> <%= @pre_order.visit_time.strftime( "%H:%M" ) %></span></td>
      </tr>
      <tr>
        <td colspan="2">
          ショップの営業時間: <%= @item.shop.opening_hour %><br>
          ショップの定休日: <%= @item.shop.holiday %><br>
          <small class="text-danger">※予約日時に間違いのないことを再度ご確認ください</small>
        </td>
      </tr>
    </table>

    <table class="form-table table table-bordered table-light my-3">
      <tr>
        <th class="w-25">予約ショップ</th>
        <td class="d-flex align-items-center">
          <div class="col-10">
            <span class="text-danger fw-bold"><%= @item.shop.name %></span> <small>[ <%= @item.shop.id %> ]</small><br>
            <small><%= @item.shop.address %></small>
          </div>
        </td>
      </tr>
      <tr>
        <th class="w-25">予約商品</th>
        <td class="d-flex align-items-center">
          <div class="col-2 pe-2">
            <%= image_tag @item.get_item_image(100,100),class: "w-100 p-1" %>
          </div>
          <div class="col-10">
            <span class="text-danger fw-bold"><%= @item.name %></span> <small>[ <%= @item.id %> ]</small>
          </div>
        </td>
      </tr>
      <tr>
        <th>予約商品の単価</th>
        <td><%= @item.price.to_s(:delimited) %> 円</td>
      </tr>
      <tr>
        <th>予約個数</th>
        <td><%= @amount %> 個</td>
      </tr>
      <tr>
        <th>支払予定金額</th>
        <td><span class="text-danger fw-bold"><%= (@item.price * @amount).to_s(:delimited) %> 円</span></td>
      </tr>
    </table>

    <table class="form-table table table-bordered table-light my-3">
      <tr>
        <th class="w-25">要望・用途</th>
        <td><%= @pre_order.purpose %></td>
      </tr>
      <tr>
        <th class="w-25">備考</th>
        <td><%= @pre_order.note %></td>
      </tr>
    </table>

    <h3 class="bg-info p-1 h5 mt-5">ご予約者情報</h3>
    <table class="table table-bordered table-light my-3">
      <tr>
        <th class="w-25">ご予約者氏名</th>
        <td><%= current_member.member_full_name %></td>
      </tr>
      <tr>
        <th class="w-25">連絡可能な電話番号</th>
        <td><%= current_member.telephone_number.to_s.insert(3, "-").insert(7, "-") %></td>
      </tr>
    </table>
    <div class="col-12">
      <small>
        ご予約の際は、<%= link_to guide_path, target: :_blank do %>ご利用ガイド<% end %>、<%= link_to privacypolicy_path, target: :_blank do %>プライバシーポリシー<% end %>をご確認ください。
      </small>
    </div>
    <div class="d-flex flex-row-reverse flex-wrap my-3 mx-auto">
      <div class="col-6 d-grid p-2">
        <% unless current_member.guest_member? %>
          <%= form_with model: @pre_order, url: pre_orders_path do |f| %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.hidden_field :amount, value: @amount %>
            <%= f.hidden_field :visit_day, value: @pre_order.visit_day %>
            <%= f.hidden_field :visit_time, value: @pre_order.visit_time %>
            <%= f.hidden_field :purpose, value: @pre_order.purpose %>
            <%= f.hidden_field :note, value: @pre_order.note %>
            <%= f.submit "上記に同意の上、予約を確定する", class: "btn btn-info p-2 w-100" %>
          <% end %>
        <% else %>
            <div class="btn bg-danger p-2 w-100">※ここから先は会員登録が必要です</div>
        <% end %>
      </div>
      <div class="col-6 d-grid p-2">
        <%= form_with url: new_pre_order_path, method: :get do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.hidden_field :amount, value: @amount %>
          <%= f.submit '情報入力へ戻る', class: "btn btn-outline-info p-2 w-100" %>
        <% end %>
      </div>
    </div>
    <div class="col-12">
      <small>
        <b>注意事項</b><br>
        ・緊急の際には、電話にて連絡することがあります。必ずご連絡のつく電話番号であるか確認してください。<br>
        ・ご連絡のないキャンセルをされた場合、ご予約を承れなくなることがあります。
      </small>
    </div>

  </div>
</div>