<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>予約履歴一覧</h2>
    <hr>
    <% if @pre_orders.blank? %>
      <p>まだ予約がありません</p>
      <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
    <% else %>
      <h3>現在の予約<span class="h5">（全<%= @before_visit_pre_orders.count %>件）</span></h3>
      <hr>
      <%= render 'public/pre_orders/index', pre_orders: @before_visit_pre_orders %>

      <div class="pt-4">
        <h3>過去の予約履歴<span class="h5">（全<%= @visit_or_cancel_pre_orders.count %>件）</span></h3>
        <hr>
        <div class="bg-secondary-subtle px-3 py-2">
          <%= render 'public/pre_orders/index', pre_orders: @visit_or_cancel_pre_orders %>
        </div>
      </div>
    <% end %>

    <!--ページネーション-->
    <%= render 'layouts/paginate', content: @visit_or_cancel_pre_orders %>
    <% if false %>
    <% end %>
  </div>
  <!--左ナビ-->
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>