<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <h2>予約履歴一覧</h2>
    <hr>
    <% if @pre_orders.blank? %>
      <p>まだ予約がありません</p>
      <%= link_to '商品を探す', root_path, class: "btn btn-info" %>
    <% else %>
      <ul class="list-group w-100 mb-4">
        <% @pre_orders.each do |pre_order| %>
          <li class="list-group-item bg-light my-2 p-3">
            <p>
              <span class="bg-info px-2 py-1 me-2"><%= pre_order.status_i18n %></span>
              来店日時: <span class="fw-bold"><%= pre_order.visit_day.strftime("%Y年%m月%d日") %> <%= pre_order.visit_time.strftime( "%H時%M分" ) %></span>
            </p>
            <%= link_to shop_path(pre_order.item.shop.id), class: "text-decoration-none" do %>
            <div class="d-flex flex-row mb-1">
              <div class="col-1 me-3">
                <%= image_tag pre_order.item.shop.get_shop_image(100,100), class: "w-100 h-100" %>
              </div>
              <div class="col-11">
                <p class="fw-bold h5">
                  <%= pre_order.item.shop.name %>
                </p>
                <p>
                  <%= pre_order.item.shop.address %>
                </p>
              </div>
            </div>
            <% end %>
            <hr>
            <div class="mb-2">
              <table class="table table-light table-bordered">
                <thead>
                  <tr class="text-center">
                    <th>ご予約商品</th>
                    <th>商品単価</th>
                    <th>ご予約数</th>
                    <th>お支払予定金額</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= pre_order.name %></td>
                    <td><%= (pre_order.total_payment / pre_order.amount).to_s(:delimited) %>円</td>
                    <td><%= pre_order.amount %> 個</td>
                    <td><%= pre_order.total_payment.to_s(:delimited) %>円</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <%= link_to '予約内容の詳細を確認する', pre_order_path(pre_order), class: "btn btn-outline-info" %>
            <%= link_to 'このショップの商品を予約する', shop_path(pre_order.item.shop.id), class: "btn btn-info" %>
            <% if pre_order.review %>
              <button class="btn btn-secondary disabled">口コミは投稿済みです</button>
            <% else %>
              <%= link_to '口コミを投稿する', pre_order_path(pre_order), class: "btn btn-info" %>
            <% end %>

          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_info' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>