<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <h2>予約内容詳細</h2><%= @pre_order.order_full_name %>
    <hr>
    <% if @pre_order.status == 'visit' && @pre_order.review.blank? && @pre_order.visit_day > 1.week.ago %>
    <!--口コミ投稿-->
      <%= form_with model: @review, url: pre_order_reviews_path(@pre_order), method: :post do |f| %>
        <div class="mt-2 mb-5 p-3 bg-light">
          <p class="fw-bold">
            ご購入いただいた商品はいかがでしたか？よろしければ、商品やショップへの感想をこちらからお送りください。
            <small>(300字以内)</small>
          </p>
          <div class="d-flex flex-row">
            <div class="col-10 pe-2"><%= f.text_area :content, autocomplete: "content", placeholder: 'この商品やショップの口コミを入力してください', class: "form-control" %></div>
            <div class="col-2"><%= f.submit '口コミを投稿する', "data-confirm" => "投稿は編集できません。この内容で投稿しますか？" , class: "btn btn-info" %></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <!--ショップ情報-->
    <table class="table table-bordered table-light">
      <tr>
        <th class="w-25">予約状況</th>
        <td>
          <div class="col-5 mb-2"><%= render 'shop/pre_orders/status', pre_order: @pre_order %></div>
          <span class="fw-bold">
            <% if @pre_order.status == 'visit' %>
              ご来店ありがとうございました。
            <% elsif @pre_order.status == 'before_visit' %>
              <span class="text-danger">ご来店お待ちしています。</span>
            <% elsif @pre_order.status == 'cancel' %>
              <span class="text-secondary">キャンセル日: <%= @pre_order.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></span>
            <% else %>
            <% end %>
          </span>
        </td>
      </tr>
      <tr>
        <th>来店日時</th>
        <td><%= @pre_order.visit_day.strftime("%Y年%m月%d日") %> <%= @pre_order.visit_time.strftime( "%H時%M分" ) %></td>
      </tr>
      <tr>
        <th>ショップ情報</th>
        <td>
          <%= link_to shop_path(@pre_order.item.shop.id), class: "text-decoration-none" do %>
            <span class="fw-bold">
              <%= @pre_order.item.shop.name %>
            </span><br>
            <span>
              <%= @pre_order.item.shop.address %>
            </span>
          <% end %>
        </td>
      </tr>
    </table>
    <!--商品情報-->
    <table class="table table-bordered table-light">
      <tr>
        <th class="w-25">予約商品</th>
        <td>
          <%= link_to item_path(@pre_order.item), class: "text-decoration-none" do %>
            <%= @pre_order.name %>
            <small>[ <%= @pre_order.item.id %> ]</small>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>商品単価</th>
        <td><%= (@pre_order.total_payment / @pre_order.amount).to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>予約数</th>
        <td><%= @pre_order.amount %>個</td>
      </tr>
      <tr>
        <th>お支払予定金額</th>
        <td>
          <span class="fw-bold"><%= @pre_order.total_payment.to_s(:delimited) %> 円</span><br>
          ※来店時にショップへお支払いください
        </td>
      </tr>
      <tr>
        <th class="w-25">用途</th>
        <td><%= @pre_order.purpose %></td>
      </tr>
      <tr>
        <th class="w-25">備考</th>
        <td><%= @pre_order.note %></td>
      </tr>
    </table>

    <table class="table table-bordered table-light">
      <tr>
        <th class="w-25">キャンセル期限</th>
        <td>
          <% if @pre_order.item.deadline == 0 %>
            キャンセル不可
          <% else %>
            <%= @pre_order.item.deadline %>日前まで
          <% end %>
        </td>
      </tr>
      <tr>
        <th>キャンセル規定</th>
        <td>
          受取予定日の<%= @pre_order.item.deadline %>日前: 合計金額の100%<br>
          無断: 合計金額の100%<br>
          <small>
            ※キャンセルの際は<b>期限日</b>までに<b>必ず</b>ショップへご連絡ください。
            <% if @pre_order.status == 'before_visit' && (@pre_order.visit_day - @pre_order.item.deadline.to_i.days) > Date.today %>
              <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-success">
                キャンセルはこちら
              </span>
            <% end %>
          </small>
        </td>
      </tr>
      <tr>
        <th>予約番号</th>
        <td><%= @pre_order.id %></td>
      </tr>
    </table>

    <table class="table table-bordered table-light">
      <tr>
        <th class="w-25">予約者氏名</th>
        <td><%= @pre_order.order_full_name %>（<%= @pre_order.order_full_name_kana %>）
        </td>
      </tr>
      <tr>
        <th>予約者情報</th>
        <td>
          〒<%= @pre_order.postal_code.to_s.insert(3, "-") %><br>
          <%= @pre_order.address %><br>
        </td>
      </tr>
      <tr>
        <th>予約者連絡先</th>
        <td><%= @pre_order.telephone_number.to_s.insert(3, "-").insert(8, "-") %></td>
      </tr>
    </table>
  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>

<%= render 'cancel_check', pre_order: @pre_order %>