<div class="container d-flex flex-column pt-3">
  <div class="login-content col-8 mx-auto px-3 mt-3">
    <h2>一般ユーザーさま新規会員登録</h2>
    <hr>
    <small>※こちらは「一般ユーザー」登録になります。商品を紹介したり予約を受け付けたい<%= link_to  new_shop_registration_path do%>「ショップ」さまの登録はこちら<% end %></small>
    <div class="pb-5">
      <%= form_with model: @member, url: member_registration_path do |f| %>
        <h3 class="bg-info p-1 h5">名前の登録</h3>
        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">名前<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :last_name,autofocus: "true", autocomplete: "last_name", class: "form-control" %>
              <small class="text-secondary">例）山本</small>
            </td>
            <td>
              <%= f.text_field :first_name, autocomplete: "first_name", class: "form-control" %>
              <small class="text-secondary">例）花子</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :last_name %>
              <%= render "layouts/error_messages", obj: @member, attribute: :first_name %>
            </td>
          </tr>
          <tr>
            <th class="w-25">名前(カナ)<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class: "form-control" %>
              <small class="text-secondary">例）ヤマモト</small>
            </td>
            <td>
              <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class: "form-control" %>
              <small class="text-secondary">例）ハナコ</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :last_name_kana %>
              <%= render "layouts/error_messages", obj: @member, attribute: :first_name_kana %>
            </td>
          </tr>
        </table>

        <h3 class="bg-info p-1 h5">ユーザー情報の登録</h3>
        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">郵便番号<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :postal_code,autocomplete: "postal_code", class: "form-control" %>
              <small class="text-secondary">例）1111111　※ハイフンは不要です</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :postal_code %>
            </td>
          </tr>
          <tr>
            <th class="w-25">住所<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :address, autocomplete: "address", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :address %>
            </td>
          </tr>
          <tr>
            <th class="w-25">電話番号<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td>
              <%= f.text_field :telephone_number, autocomplete: "telephone_number", class: "form-control" %>
              <small class="text-secondary">例）08000000000　※ハイフンは不要です。</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :telephone_number %>
            </td>
          </tr>
        </table>

        <h3 class="bg-info p-1 h5">ログイン情報の登録</h3>
        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">ニックネーム<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td colspan="2">
              <%= f.text_field :nickname, autocomplete: "nickname", class: "form-control" %>
              <small class="text-secondary">※ニックネームは口コミ投稿時に表示される名前です。</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :nickname %>
            </td>
          </tr>
          <tr>
            <th class="w-25">メール<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td colspan="2">
              <%= f.text_field :email, autocomplete: "email", class: "form-control" %>
              <small class="text-secondary">例）xxx_sample@mail</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :email %>
            </td>
          </tr>
        </table>

        <table class="form-table table table-borderless table-member my-3">
          <tr>
            <th class="w-25">パスワード<small class="bg-info py-0 px-2 ms-2 rounded-pill fw-normal">必須</small></th>
            <td colspan="2">
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <small class="text-secondary">※<%= @minimum_password_length %> 文字以上の英数字で入力してください</small>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :password %>
            </td>
          </tr>
          <tr>
            <th class="w-25">パスワード(確認用)</th>
            <td colspan="2">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <%= render "layouts/error_messages", obj: @member, attribute: :password_confirmation %>
            </td>
          </tr>
        </table>
        <small>
          ご登録の際は、<%= link_to guide_path, target: :_blank do %>ご利用ガイド<% end %>、<%= link_to privacypolicy_path, target: :_blank do %>プライバシーポリシー<% end %>をご確認ください。
        </small>
        <div class="col-6 d-grid my-3 mx-auto">
          <%= f.submit "上記に同意して登録する", class: "btn btn-info p-2 fw-bold" %>
        </div>
      <% end %>
    </div>

    <h2 class="mt-5">既に登録済みの方はこちら</h2>
    <hr>
    <div class="col-6 d-grid mx-auto py-3">
      <%= link_to "ログインする", new_member_session_path, class: "btn btn-info p-2 fw-bold" %>
    </div>


  </div>
</div>