  <div class="mb-4">
    <% if controller_name == 'items' || @type == 'item' || @type == 'item_name' %>
    <!--商品の検索-->
      <%= form_with url: shop_search_path, method: :get do |f| %>
        <table class="form-table table table-borderless">
          <tr>
            <th colspan="2" class="w-25 text-secondary">商品情報から検索<%= f.hidden_field :type, :value => 'item' %></th>
          </tr>
          <tr>
            <td colspan="2">
              <div class="col-12 d-flex flex-row">
                <div class="col-10 mt-4"><%= f.text_field :content, placeholder: 'キーワードから探す', class: "form-control" %></div>
                <div class="col-2 admin-btn">
             　    <%= button_tag type: 'submit', name: '', class: "btn form-control" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
      <%= form_with url: shop_search_path, method: :get do |f| %>
        <table class="form-table table table-borderless">
          <tr>
            <th class="text-secondary">
              商品名から検索
              <%= f.hidden_field :type, :value => 'item_name' %>
              <%= f.select :method, options_for_select({'部分一致' => 'partial', '完全一致' => 'perfect', '前方一致' => 'forward', '後方一致' => 'backward'}), {}, {:class => "form-select"} %>
            </th>
            <td class="d-flex flex-row">
              <div class="col-12 d-flex flex-row">
                <div class="col-10 mt-4"><%= f.text_field :content, placeholder: '商品名から探す', class: "form-control" %></div>
                <div class="col-2 admin-btn">
             　    <%= button_tag type: 'submit', name: '', class: "btn form-control" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>


    <% elsif controller_name == 'pre_orders' || @type == 'order_member' || @type == 'order_item_all' || @type == 'order_item' %>
    <!--予約の検索-->
      <%= form_with url: shop_search_path, method: :get do |f| %>
        <table class="form-table table table-borderless">
          <tr>
            <th colspan="2" class="w-25">
              <label class="form-check-label text-secondary fw-bold pe-3"><%= f.radio_button :type, 'order_member', checked: search.type == 'order_member', class: "form-check-input" %> お客様情報から検索</label>
              <label class="form-check-label text-secondary fw-bold pe-3"><%= f.radio_button :type, 'order_item_all', checked: search.type == 'order_item_all', class: "form-check-input" %> 商品情報から検索</label>
            </th>
          </tr>
          <tr>
            <td colspan="2">
              <div class="col-12 d-flex flex-row">
                <div class="col-10 mt-4"><%= f.text_field :content, placeholder: 'キーワードから探す', class: "form-control" %></div>
                <div class="col-2 admin-btn">
             　    <%= button_tag type: 'submit', name: '', class: "btn form-control" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
      <%= form_with url: shop_search_path, method: :get do |f| %>
        <table class="form-table table table-borderless">
          <tr>
            <th colspan="2" class="w-25 text-secondary">
              商品名から検索
              <%= f.hidden_field :type, :value => 'order_item' %>
              <%= f.select :method, options_for_select({'商品名部分一致' => 'partial', '商品名完全一致' => 'perfect', '商品名前方一致' => 'forward', '商品名後方一致' => 'backward'}), {}, {:class => "form-select"} %>
            </th>
            <td colspan="2">
              <div class="col-12 d-flex flex-row">
                <div class="col-10 mt-4"><%= f.text_field :content, placeholder: '商品名から探す', class: "form-control" %></div>
                <div class="col-2 admin-btn">
             　    <%= button_tag type: 'submit', name: '', class: "btn form-control" do %>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>
    <!--タグ検索-->
      <!--<div class="col-6">-->
        <%#= f.text_field :content, placeholder: 'キーワードから探す', class: "form-control" %>
      <!--</div>-->
      <!--<div class="col-2 admin-btn">-->
        <%#= button_tag type: 'submit', name: '', class: "form-control" do %>
          <!--<i class="fa-solid fa-magnifying-glass"></i>-->
        <%# end %>
      <!--</div>-->
    <%# end %>
  </div>
