<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <% if @type == 'item' || @type == 'item_name' %>
      <h2>「<%= @content %>」<span class="h4">を含む商品の検索結果</span><span class="h6">（全<%= @records.count %>件）</span></h2>
      <hr>
      <%= render 'shop/searches/form' %>
      <% if @records.blank? %>
        <p class="lh-lg">
        該当する商品はありません
        </p>
      <% else %>
        <%= render 'shop/items/index', items: @records %>
      <% end %>

    <% elsif @type == 'order_member' || @type == 'order_item_all' || @type == 'order_item' %>
      <h2>「<%= @content %>」<span class="h4">を含む予約の検索結果</span><span class="h6">（全<%= @records.count %>件）</span></h2>
      <hr>
      <%= render 'shop/searches/form' %>
      <% if @records.blank? %>
        <p>該当する予約履歴はありません</p>
      <% else %>
        <%= render 'shop/pre_orders/index', pre_orders: @records %>
      <% end %>

    <% end %>

    <!--ページネーション-->
    <%#= render 'layouts/paginate', content: @records %>

  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/homes_menu',tag_rank: @tag_rank %>
  </div>
</div>