<div class="d-flex flex-wrap">
  <% items. each do |item| %>
  <div class="item-index col-4 p-1">
    <div class="card p-1 h-100">
      <%= link_to item_path(item), class: "text-decoration-none" do %>
        <%= image_tag item.get_item_image(500,500), class: "item-img-ratio card-img-top" %>
      <% end %>
      <div id="item_<%= item.id %>" class="card-body">
        <div class="col-12 d-flex flex-row">
          <div class="col-11">
            <h3 class="fw-bold h6 pe-1 card-title">
            <%= link_to item_path(item), class: "text-decoration-none text-dark" do %>
              <%= item.name %>
            <% end %>
            </h3>
          </div>
          <div class="bookmark-btn col-1">
            <% if member_signed_in? %>
              <%= render 'public/bookmarks/btn_ribbon', item: item %>
            <% else %>
              <i class="fa-regular fa-bookmark text-black text-opacity-25"></i>
            <% end %>
          </div>
        </div>
        <div class="card-text">
          <small class="text-body-secondary">
            <span class="h6"><%= item.price.to_s(:delimited, delimiter: ',') %></span>円(税込)<br>
            <% if item.stock == 0 %>
              <span class="text-black-50">在庫なし</span>
            <% else %>
              在庫<span class="h6"><%= item.stock %></span>点
            <% end %>
          </small>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>