<div class="d-flex flex-wrap">
  <% items. each do |item| %>
  <div class="col-4 p-1">
    <div class="card p-1 h-100">
      <%= link_to item_path(item), class: "text-decoration-none" do %>
        <%= image_tag item.get_item_image(300,300), class: "card-img-top" %>
        <div class="card-body">
          <h3 class="card-title fw-bold h6 text-dark">
            <%= item.name %>
          </h3>
          <div class="card-text">
            <small class="text-body-secondary">
              <span class="h6"><%= item.price.to_s(:delimited, delimiter: ',') %></span>円(税込)<br>
              在庫<span class="h6"><%= item.stock %></span>点
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% end %>
</div>