<div class="d-flex flex-wrap">
  <% items. each do |item| %>
    <div class="col-4 card p-2">
      <%= link_to item_path(item) do %>
        <%= image_tag item.get_item_image(200,200), class: "card-img-top" %>
        <div class="card-body">
          <div class="card-title h6">
            <%= item.name %>
          </div>
          <div class="card-body">
            <%= item.price.to_s(:delimited, delimiter: ',') %>円<br>
            在庫<%= item.stock %>個<br>
            <%= item.is_active %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>