<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <!--ショップ情報-->
    <%= render 'public/shops/info', shop: @shop %>
    <!--商品情報-->
    <h1 class="page-title mt-1"><%= @item.shop.name %> | <%= @item.name %></h1>
    <%= form_with url: new_pre_order_path, method: :get do |f| %>
      <div class="d-flex flex-wrap">
        <!--画像-->
        <div class="wide-item col-7">
          <% if @item.get_item_image_webp(1080, 1350).present? %>
          　<%= image_tag @item.get_item_image_webp(1080,1350), class: "w-100 px-1" %>
          <% else %>
            <%= image_tag @item.get_item_image(1080,1350), class: "w-100 px-1" %>
          <% end %>
        </div>
        <!--詳細-->
        <div id="order" class="wide-item col-5 p-2 mt-3">
          <h2 class="h5 fw-bold"><%= @item.name %> <span class="text-black-50 h6">[ <%= @item.id %> ]</span></h2>
          <p class="py-3">
            価格: <span class="h3"><%= @item.price.to_s(:delimited, delimiter: ',') %></span> 円
          </p>
          <div class="d-flex align-items-center pb-1">
            <div class="me-3">
              <% unless @stock == 0 %>
                在庫: <span class="h5"><%= @stock %></span> 点
              <% end %>
            </div>
            <div>
              <% if @stock == 0 %>
                在庫切れのため購入できません
              <% elsif @item.is_active == false || @item.shop.is_active == false %>
              <% elsif member_signed_in? %>
                <%= f.select :amount, @stock_array, { prompt: "個数を選択" }, class: "form-select" %>
              <% else %>
              <% end %>
            </div>
          </div>
          <div class="my-3 mx-auto d-grid">
            <% if admin_signed_in? %>
              <!--管理者権限-->
              <div class="d-flex flex-row">
                <%= link_to '× 削除', admin_item_path(@item), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
              </div>
              <small class="text-danger">※商品に予約履歴がある場合は削除が出来ません。</small>
            <% elsif current_shop == @item.shop %>
            <!--ショップ権限-->
              <% unless @item.is_active %><span class="text-danger">非公開</span><% end %>
              <%= link_to 'この商品を編集する', edit_shop_item_path(@item), class: "btn btn-info p-2" %>
            <% elsif shop_signed_in? %>
            <% elsif @item.is_active == false || @item.shop.is_active == false %>
              <button class="btn btn-secondary p-2" disabled>販売停止中です</button>
            <% elsif @stock == 0 %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <button class="btn btn-secondary p-2" disabled>在庫切れです</button>
            <% elsif member_signed_in? %>
            <!--ログインユーザー権限-->
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.submit 'この商品を予約する', name: '', class: "btn btn-info p-2" %>
            <% else %>
              <%= link_to 'ログインして予約する', new_member_session_path, class: "btn btn-info p-2" %>
            <% end %>
            <% if member_signed_in? %>
            <div class="bookmark-btn">
              <%= render 'public/bookmarks/btn_text', item: @item %>
            </div>
            <% else %>
              <button class="btn btn-outline-secondary p-2 mt-2" disabled>ブックマーク <%= @item.bookmarks.count %>件</button>
            <% end %>
          </div>
          <!--商品紹介-->
          <div class="bg-light p-3 mb-3">
            <p class="fw-bold">商品紹介</p>
            <p><%= simple_format(h(@item.introduction)) %></p>
          </div>
          <!--商品サイズ/キャンセル期限-->
          <div class="bg-light p-3 mb-3">
            <p class="fw-bold">詳細</p>
            <div class="mb-2">
              サイズ: <%= @item.size %>
            </div>
            <div>
              <% if @item.deadline == 0 %>
                こちらの商品はキャンセル不可となっています
              <% else %>
                キャンセル期限: <%= @item.deadline %>日前まで
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'public/searches/tag_btn', tags: @item_tags %>
    <% end %>
    <% if @item.stock == 0 %>
    <!--関連商品-->
    <div class="mt-4">
      <h2>このショップの新着商品</h2>
      <hr>
      <%= render 'index', items: @items %>
      <%= link_to '▶ このショップの商品をもっと見る', shop_path(@shop), class: "float-end mt-2" %>
    </div>

    <% end %>
    <!--商品詳細-->
    <div class="main-content col-8 mx-auto mt-3">
      <% @item_details.each do |item_detail| %>
      <div class="my-5">
        <% if item_detail.get_item_detail_image_webp(1080, 1350).present? %>
        　<%= image_tag item_detail.get_item_detail_image_webp(1080,1350), class: "w-100 p-1" %>
        <% else %>
          <%= image_tag item_detail.get_item_detail_image(1080,1350), class: "w-100 p-1" %>
        <% end %>
        <% if shop_signed_in? && @item.shop == current_shop %>
          <details class="item-detail-edit">
            <summary class="item-summary-edit col-11 mx-auto mt-2">
              <%= item_detail.introduction %>
            </summary>
            <div class="main-content bg-light p-3 mt-3">
              <%= form_with model: item_detail, url: shop_item_item_detail_path(@item, item_detail), method: :patch do |f| %>
                <%= f.select :in_order, (0..10).to_a, { prompt: "" }, { class: "form-select w-25 mt-2" } %>
                <%= f.file_field :item_detail_image, accept: "image/*", class: "form-control mt-2" %>
                <%= f.text_area :introduction, autocomplete: "introduction", class: "form-control mt-2" %>
                <div class="text-end">
                  <%= f.submit "更新する", class: "btn btn-outline-info p-2 mt-2" %>
                  <%= link_to "削除", shop_item_item_detail_path(@item, item_detail), method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </div>
              <% end %>
            </div>
          </details>
        <% else %>
          <p class="col-11 mx-auto mt-2">
            <%= item_detail.introduction %>
          </p>
        <% end %>
      </div>
      <% end %>
    </div>
    <!--商品詳細投稿フォーム-->
    <% if shop_signed_in? && @item.shop == current_shop %>
      <div class="main-content col-8 mx-auto mt-5 bg-light p-3">
      　<h2 class="h5 fw-bold">商品詳細を追加する</h2>
        <small class="ms-2">登録済みの商品詳細は、コメント部分をクリックすることで編集・削除が出来るようになります。</small>
        <%= form_with model: @item_detail_new, url: shop_item_item_details_path(@item), method: :post do |f| %>
          <div class="mt-2 d-flex flex-row align-items-center">
            <%= f.select :in_order, (0..10).to_a, { prompt: "" }, { class: "form-select w-25" } %>
            <small class="ms-2">0～10の数字を指定して並び順を変更</small>
          </div>
          <div class="mt-2">
            <%= f.file_field :item_detail_image, accept: "image/*", class: "form-control" %>
          </div>
          <div class="mt-2">
            <%= f.text_area :introduction, autocomplete: "introduction", class: "form-control" %>
          </div>
          <div class="text-end">
            <%= f.submit "詳細を追加する", class: "btn btn-info p-2 mt-2" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>

  <!--予約に進むボタン-->
  <div class="back-order px-3 py-1 rounded-pill border border-white border-2">
    <a href='#order'>
      <div class="d-flex justify-content-center fs-2 pt-1"><i class="fa-solid fa-calendar-check"></i></div>
      <small>予約へ</small>
    </a>
  </div>
</div>