<div class="container d-flex flex-row-reverse pt-3">
  <div class="col-9 px-3">
    <%= render 'public/shops/info' %>
    <%= form_with url: new_pre_order_path, method: :get do |f| %>
      <div class="d-flex flex-wrap">
        <!--画像-->
        <div class="col-7">
          <%= image_tag @item.get_item_image(500,500),class: "w-100 p-1" %>
        </div>
        <!--詳細-->
        <div class="col-5 p-2">
          <h2 class="h5 fw-bold"><%= @item.name %> <span class="text-black-50 h6">[ <%= @item.id %> ]</span></h2>
          <p class="py-3">
            価格: <span class="h3"><%= @item.price.to_s(:delimited, delimiter: ',') %></span> 円
          </p>
          <div class="d-flex align-items-center pb-1">
            <div class="me-3">
              在庫: <%= @stock %>個
            </div>
            <div>
              <% if @stock == 0 %>
                在庫切れのため購入できません
              <% elsif member_signed_in? %>
                <%= f.select :amount, @stock_array, { prompt: "個数を選択" }, class: "form-select" %>
              <% else %>
              <% end %>
            </div>
          </div>
          <div class="my-3 mx-auto d-grid">
            <% if @item.is_active == false %>
              <button class="btn btn-secondary p-2" disabled>販売停止中です</button>
            <% elsif @stock == 0 %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <button class="btn btn-secondary p-2" disabled>在庫切れです</button>
            <% elsif member_signed_in? %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.submit 'この商品を予約する', name: '', class: "btn btn-info p-2" %>
            <% else %>
              <%= link_to 'ログインして予約する', new_member_session_path, class: "btn btn-info p-2" %>
            <% end %>
            <% if member_signed_in? %>
              <% if @item.bookmark_by?(current_member) %>
                <%= link_to  bookmarks_path, class: "btn btn-outline-info p-2 mt-2" do %>
                  ブックマーク済み (<%= @item.bookmarks.count %>)
                <% end %>
              <% else %>
                <%= link_to item_bookmarks_path(@item), method: :post, class: "btn btn-outline-info p-2 mt-2" do %>
                  ブックマークする (<%= @item.bookmarks.count %>)
                <% end %>
              <% end %>
            <% else %>
              <button class="btn btn-outline-secondary p-2 mt-2" disabled>ブックマークする <%= @item.bookmarks.count %></button>
            <% end %>
          </div>
          <!--商品紹介-->
          <div class="bg-light p-3 mb-3">
            <p class="fw-bold">商品紹介</p>
            <p><%= @item.introduction %></p>
          </div>
          <!--商品詳細-->
          <div class="bg-light p-3 mb-3">
            <p class="fw-bold">詳細</p>
            <div class="mb-2">
              サイズ: <%= @item.size %>
            </div>
            <div>
              キャンセル期限: <%= @item.deadline %>日前まで
            </div>
          </div>
        </div>
      </div>
      <%= render 'public/searches/tag_btn', tags: @item_tags %>
    <% end %>
  </div>
  <div class="col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/homes_menu' %>
  </div>
</div>