<div class="container d-flex flex-row-reverse flex-wrap pt-3">
  <div class="main-content col-9 px-3">
    <%= render 'public/shops/info', shop: @shop %>
    <h1 class="page-title mt-1"><%= @item.shop.name %> | <%= @item.name %></h1>
    <%= form_with url: new_pre_order_path, method: :get do |f| %>
      <div class="d-flex flex-wrap">
        <!--画像-->
        <div class="wide-item col-7">
          <%= image_tag @item.get_item_image(500,500),class: "w-100 p-1 hover-none" %>
        </div>
        <!--詳細-->
        <div class="wide-item col-5 p-2">
          <h2 class="h5 fw-bold"><%= @item.name %> <span class="text-black-50 h6">[ <%= @item.id %> ]</span></h2>
          <p class="py-3">
            価格: <span class="h3"><%= @item.price.to_s(:delimited, delimiter: ',') %></span> 円
          </p>
          <div class="d-flex align-items-center pb-1">
            <div class="me-3">
              <% unless @stock == 0 %>
                在庫: <span class="h5"><%= @stock %></span> 点
              <% end %>
            </div>
            <div>
              <% if @stock == 0 %>
                在庫切れのため購入できません
              <% elsif @item.is_active == false || @item.shop.is_active == false %>
              <% elsif member_signed_in? %>
                <%= f.select :amount, @stock_array, { prompt: "個数を選択" }, class: "form-select" %>
              <% else %>
              <% end %>
            </div>
          </div>
          <div class="my-3 mx-auto d-grid">
            <% if admin_signed_in? %>
              <%= link_to '× 削除', shop_item_path(@item), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger w-25" %>
              <small class="text-danger">※削除すると紐づけられた予約情報も全て消えます。この商品の予約がないか確認してから削除してください。</small>
            <% elsif current_shop == @item.shop %>
              <% unless @item.is_active %><span class="text-danger">非公開</span><% end %>
              <%= link_to 'この商品を編集する', edit_shop_item_path(@item), class: "btn btn-info p-2" %>
            <% elsif shop_signed_in? %>
            <% elsif @item.is_active == false || @item.shop.is_active == false %>
              <button class="btn btn-secondary p-2" disabled>販売停止中です</button>
            <% elsif @stock == 0 %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <button class="btn btn-secondary p-2" disabled>在庫切れです</button>
            <% elsif member_signed_in? %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.submit 'この商品を予約する', name: '', class: "btn btn-info p-2" %>
            <% else %>
              <%= link_to 'ログインして予約する', new_member_session_path, class: "btn btn-info p-2" %>
            <% end %>
            <% if member_signed_in? %>
            <div class="bookmark-btn">
              <%= render 'public/bookmarks/btn_text', item: @item %>
            </div>
            <% else %>
              <button class="btn btn-outline-secondary p-2 mt-2" disabled>ブックマーク <%= @item.bookmarks.count %>件</button>
            <% end %>
          </div>
          <!--商品紹介-->
          <div class="bg-light p-3 mb-3">
            <p class="fw-bold">商品紹介</p>
            <p><%= simple_format(h(@item.introduction)) %></p>
          </div>
          <!--商品詳細-->
          <div class="bg-light p-3 mb-3">
            <p class="fw-bold">詳細</p>
            <div class="mb-2">
              サイズ: <%= @item.size %>
            </div>
            <div>
              キャンセル期限: <%= @item.deadline %>日前まで
            </div>
          </div>
        </div>
      </div>
      <%= render 'public/searches/tag_btn', tags: @item_tags %>
    <% end %>
  </div>
  <div class="left-content col-3 px-3">
    <%= render 'layouts/members_menu' %>
    <%= render 'layouts/admin_menu' %>
    <%= render 'layouts/shop_menu' %>
    <%= render 'layouts/pickup_menu', pick_up_tags: @pick_up_tags %>
    <%= render 'layouts/homes_menu', tag_rank: @tag_rank %>
  </div>
</div>