<!DOCTYPE html>
<html>
  <head>
    <title>花束やフラワーアレンジの予約｜花屋と顧客のマッチングサイト｜FlowerMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/d3818fb7f0.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>

  <body class="d-flex flex-column vh-100">
    <!--ヘッダーここから-->
    <header class="d-flex flex-row p-2 <%= (admin_signed_in? ? "admin-header" : "" ) %>  <%= (shop_signed_in? ? "shop-header" : "" ) %>">
      <div class="col-4 pt-4 ps-4">
        <%= link_to root_path do %>
          <p class="h1 text-white">FlowerMatch</p>
        <% end %>
      </div>
      <!--検索フォーム-->
      <div class="col-3">
        <% unless shop_signed_in? || admin_signed_in? %>
          <%= render 'public/searches/form' %>
        <% end %>
      </div>
      <!--ヘッダーボタン-->
      <div class="col-5 d-flex justify-content-end pe-4">
        <%= link_to destroy_member_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？", class: "text-white" do %>ユーザーログアウト　<% end %>
        <%= link_to shop_session_path, class: "text-white" do %>店ログイン　<% end %>
        <!--ショップユーザーログイン後-->
        <% if shop_signed_in? %>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to new_shop_item_path do %>商品の新規登録<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to shop_top_path do %>管理ページTOP<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to shop_items_path do %>商品管理<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to shop_pre_orders_path do %>予約管理<% end %></div>
        <% elsif member_signed_in? %>
        <!--一般ユーザーログイン後-->
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to about_path do %>About<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to mypage_path do %>ユーザーマイページ<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to pre_orders_path do %>予約一覧<% end %></div>
        <% elsif admin_signed_in? %>
        <!--管理者ログイン後…口コミ一覧・連絡一覧を追加する-->
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to admin_shops_path do %>ショップ管理<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to admin_members_path do %>一般メンバー管理<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to destroy_admin_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？" do %>ログアウト<% end %></div>
        <% else %>
          <!--ログイン前-->
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to about_path do %>About<% end %></div>
          <div class="col-1 bg-info p-3 m-2 w-25"><%= link_to new_member_session_path do %>ログイン<% end %></div>
        <% end %>
      </div>
    </header>

    <main class="mb-auto">
      <% if flash[:notice] %>
        <div class="alert alert-success text-center mx-auto mt-2" style="width: 70%;"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger text-center mx-auto mt-2" style="width: 70%;"><%= flash[:alert] %></div>
      <% end %>


      <%= yield %>
    </main>

    <footer class="text-center p-3 mt-5 <%= (admin_signed_in? ? "admin-footer" : "" ) %> <%= (shop_signed_in? ? "shop-footer" : "" ) %> ">
      <div class="d-flex justify-content-center">
      <p class="px-4"><%= link_to 'About', about_path, class: "text-decoration-none text-white " %></p>
      <p class="px-4"><%= link_to 'ご利用ガイド', about_path, class: "text-decoration-none text-white" %></p>
      <p class="px-4"><%= link_to 'ご利用規約', about_path, class: "text-decoration-none text-white" %></p>
      <p class="px-4"><%= link_to 'プライバシーポリシー', about_path, class: "text-decoration-none text-white" %></p>
      </div>
      <small>
        Copyright © flowerMatch All Rights Reserved.<br>
        このサイト内の文章、画像などの無断複製、無断転載を禁止します。
      </small>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
